*.dat
wallets/
.wallets/
__pycache__/
src/xrpurr_settings.json
src/xrpurr_txlog.json
src/nanopurr_settings.json
src/nanopurr_txlog.json
src/archive/
.cursor
portfolio.py
portfoliogui.py
xrpurrgui.py
utils/
safekept/
tools/dtaglist.txt
wallets_backup/