*.dat
wallets/*
!wallets/.gitkeep
.wallets/*
!wallets/.gitkeep
__pycache__/*
!__pycache__/.gitkeep
src/*
!src/.gitkeep
.cursor
utils/*
safekept/
safekept/*
wallets_backup/*
xrpurrgui.py
__pycache__
.wallets/